*{
    margin: 0;
    padding: 0;
}

nav{
    height: 5vh;
    background: #D9D9D9;
}
main{
    height: 75vh;
    display: flex;
}
main section{
    height: 100%;
    width: 60vw;
    background: #A4A4A4;
}
.section__aside-top{
    height: 40vh;
    width: 40vw;
    background: #7F7A7A;
}
.section__aside-bottom{
    height: 35vh;
    width: 40vw;
    background: #615050;
}

footer{
    height: 20vh;
}
.footer__section-top{
    height: 9vh;
    background: #D9D9D9;
}
.footer__section-bottom{
    height: 11vh;
    background: #AFA9A9;
}