*{
    margin:0;
    padding:0;
}
.flex {
    height: 500px;
    background-color: #918066;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: #2A7B9B;
    transition: 1s;
}
.circle:hover{
    border-radius: 50%;
    background-color: azure;
    transition: 2s;
}