body{
    background-image: url("Image/Forest-ffon.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p{
    color: chocolate;
    /*font-size: 32px;*/
    width: 40%;
    height: 50px;
    background-color: brown;
    display: inline-block;
}
h2, h3{
    color: green;
}
sup, sub{
    color: tan;
    font-size: 16px;
}
span{
    color: chocolate;
    /*font-size: 32px;*/
    width: 40%;
    height: 50px;
    background-color: brown;
    display: inline-block;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}