*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    height: 100vh;
    background-color: grey;
    border: 1px solid black;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items:  center;
}
.grid-container img{
    width: 250px;
    height: 200px;
}
/*.item{*/
/*    width: 250px;*/
/*    height: 200px;*/
/*    background-color: #68B5FA;*/
/*    text-align: center;*/
/*    border: 1px solid white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/