*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Inter, sans-serif;
}
/*--------------------Header------------------------------*/
header{
    width: 100%;
    height: 113px;
    position: fixed;
    top: 0;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-1153 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;
    list-style-type: none;
}
.w-1153 nav ul li a{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.6;
}
.w-1153 h2{
    color: #E5E5E5;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
}
/*-----------------------------Section-1-----------------------------------------*/
.One__posotion{
    width: 100%;
    height: 692px;
    background: #24204A;
    padding: 180px 0 101px 0;
    box-sizing: border-box;
}
.One__posotion__w-1153{
    width: 1153px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button__one-posotion{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    border: none;
}
.One__posotion__div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.One__posotion__w-1153 h1{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
}
.One__posotion__w-1153 p{
    width: 570px;
    height: 85px;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.button__about{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.20);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.img__Lamp{
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------Section-2---------------------------*/
.Section-two{
    width: 100%;
    height: 764px;
    box-sizing: border-box;
    padding: 50px 0 152px 0;
    background: #071341;
}
.section__two-w-1153{
    width: 1153px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
}
/*----------------Icons---------------------------------------*/
.icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.icon div:nth-child(1){
    width: 56.144px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.icon:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.icon:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}
.icon:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}
.icon:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}
.icon h4{
    width: 38.098px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.icon p{
    width: 101.26px;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
/*------------------------H2----------------------------*/
.section__two-w-1153 h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
}
.section__two-w-1153 p{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}
/*-------------------Cards----------------------------------*/
.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
}
.card p{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}
/*--------------bottom-IMG-------------*/
.bottom-map{
    width: 100vw;
    height: 664px;
}
.bottom-map img{
    width: 100%;
    height: 100%;
}
/*----------------------------------------*/
.footer{
    width: 100%;
    height: 94px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #071341;
}
.footer p{
    width: 96px;
    height: 24.039px;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%; /* 24px */
}


